<form>   
    <div class="large-12 columns">
        <div class="panel radius">
            <h4>My Profile</h4>
            <div class="row">
                <div class="large-12 columns">
                    <label>Change Credentials</label>
                    <input type="checkbox" name="ChangeCredentialsCheckbox" id="ChangeCredentialsCheckbox"/>
                </div>
            </div>
        </div>
        <div class="panel radius" style="display: none;" id="ChangeCredentialsPanel">
            <h4>Change Credentials</h4>
            <div class="row">
                <div class="large-6 columns">
                    <label>Old Username</label>
                    <input type="text" name="oldUsername" id="oldUsername"/>
                </div>
                <div class="large-6 columns">
                    <label>New Username</label>
                    <input type="text" name="newUsername" id="newUsername"/>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label>Old Password</label>
                    <input type="password" name="oldPassword" id="oldPassword"/>
                </div>
                <div class="large-6 columns">
                    <label>New Password</label>
                    <input type="password" name="newPassword" id="newPassword"/>
                </div>
            </div>
        </div>
        <div class="panel radius">
            <div class="row">
                <div class="large-6 columns">
                    <button class="button primary small" type="submit">Save</button>
                    <button class="button primary small" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>
