<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="#">{{APP_TITLE}}</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
        
        <ul>
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">Settings</a>
                <ul class="dropdown">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">App Settings</a></li>
                    <li><a href="#">Lookups</a></li>
                </ul>
            </li> 
        </ul>
        
        <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="#">Account</a>
                <ul class="dropdown">
                    <li><a href="#" id="ProfileMenuItem">My Profile</a></li>
                    <li><a href="#" id="LogoutMenuItem">Logout</a></li>
                </ul>
            </li>            
        </ul>
    </section>
</nav>

<div class="row">
    <div class="large-12 columns" id="PageContainer">
        
    </div>
</div>


